@keyframes sky {
    0% 		 { background: darkslateblue;
         	   box-shadow: 0 -400px 300px -300px orangered inset; }

	7%, 20%  { background: skyblue;
    	 	   box-shadow: 0 -400px 300px -300px steelblue inset; }

    50% 	 { background: darkslateblue;
        	   box-shadow: 0 -400px 300px -300px orangered inset; }

    65%, 90% { background: darkslateblue;
          	   box-shadow: 0 -400px 300px -300px transparent inset; }

    100% 	 { background: darkslateblue;
               box-shadow: 0 -400px 300px -300px orangered inset; }
}

@keyframes cloud1 {
	0% { transform: translateX(-50px) scale(.2);}
	100% { transform: translateX(650px) scale(.2); }
}

@keyframes cloud2 {
	0% { transform: translateX(-50px) scale(-.3, .3); }
	100% { transform: translateX(650px) scale(-.3, .3); }
}

@keyframes cloud3 {
	0% { transform: translateX(-50px) scale(.4); }
	100% { transform: translateX(650px) scale(.4); }
}

@keyframes cloud4 {
	0% { transform: translateX(-50px) scale(-.5, .5); }
	100% { transform: translateX(650px) scale(-.5, .5); }
}

@keyframes ship {
	0% { transform: translateX(100px); }
	100% { transform: translateX(-600px); }
}

@keyframes smoke1 {
	0%   { opacity: 100%; }
	50%  { opacity: 50%; }
	100% { transform: translateY(-10px) scale(2); 
		   opacity: 0%; }
}

@keyframes sun { 
	0%   { transform: rotate(-90deg); }
	100% { transform: rotate(260deg); }
}

/*—————————————————————————————————————————————————————————*/

.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: sky 40s ease-in infinite;
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation: ship 20s linear infinite;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;

    opacity: 0%;
}

.smoke-1 {
    top: -25px;
    right: 44px;

    animation: smoke1 3s ease infinite forwards;
}

.smoke-2 {
    top: -25px;
    right: 42px;

    animation: smoke1 3s ease 1s infinite forwards;
}

.smoke-3 {
    top: -25px;
    right: 49px;

    animation: smoke1 3s ease 300ms infinite forwards;
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;
    transform: rotate(-90deg);
    animation: sun 39s linear infinite;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;

    transform: translateX(-50px) scale(.2);
    animation: cloud1 25s linear 5s infinite;
}

.cloud-2 {
    top: 50px;

    transform: translateX(-50px) scale(-.3, .3);
    animation: cloud2 20s linear 5s infinite;
}

.cloud-3 {
    top: 100px;

    transform: translateX(-50px) scale(.4);
    animation: cloud3 14s linear 2s infinite;
}

.cloud-4 {
    top: 170px;

    transform: translateX(-100px) scale(-.5, .5);
    animation: cloud4 11s linear infinite;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
