@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/*-----------------------------------------------------------------------*/
body {
	background: url(images/background.jpg) no-repeat;
	background-size: cover;
	background-position: fixed;

	font-family: 'Pacifico', cursive;
	color: #FFF0F5;
}

h1 {
	font-size: 64px;
	text-shadow: 3px 3px 3px #000;
		
	background-color:rgba(0, 0, 0, 0.5);
}

.first_line {
	/*position: absolute;
	/*left: 50%;*/
	transform: translateX(2%);
	
}

.first_line .obj {
	float: left;
}

.first_line .obj img {
	width: 300px;
	height: 200px;
	margin: 20px 20px 0;

	border: 2px solid black;
}

/*-----------------------------------------------------------------*/

.first_line .obj .description {
	/*visibility: hidden;*/
	display: none;

	width: 300px;
	margin: 0 20px;
	padding: 0 10px;
	line-height: 1.1;
}

img:hover {
	transform: scale(1.4);
}

img:hover + div {
	/*visibility: visible;*/
	display: block;
}

/*-----------------------------------------------------------------*/

.first_line .obj input[type="checkbox"] {
	display: none;
}

.first_line .obj label {
	display: block;
	width: 300px;
	height: 200px;
	margin: 20px 20px 0;
	z-index: 4;

}

.first_line .obj #check1:checked ~ img {
	transform: scale(3) translateX(50%);
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
	z-index: 5;
}

.first_line .obj #check2:checked ~ img {
	transform: scale(3) translateX(20%);
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
	z-index: 5;
}

.first_line .obj #check3:checked ~ img {
	transform: scale(3) translateX(-5%);
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
	z-index: 5;
}

.first_line .obj #check4:checked ~ img {
	transform: scale(3) translateX(-50%);
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
	z-index: 5;
}

.close {
	position: fixed;
	top: 5%;
	left: 90%;
	width: 10px;
	height: 10px;
}
/*-----------------------------------------------------------------*/

.switch_block {
	display: block;
	width: 100px;
	height: 20px;
	margin: 100px auto;
	transform: translateY(20px);
}

.switch_block input[type="radio"] {
	display: inline;

}

.switch_block label:before {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(images/button.png);
}

#radio-1:checked {
	background: url(images/checked-button.png);
}

#radio-2:checked {
	background: url(images/checked-button.png);

}

/*-----------------------------------------------------------------*/